<h1 class="h1 mb-4">Overfriendly / <%= current_user.battletag %> / Friends</h1>

<div class="js-tab-container">
  <%= render partial: 'layouts/nav', locals: { battletag: current_user.battletag } %>
</div>

<% if @friends.any? %>
<% else %>
  <p>No friends :'(</p>
<% end %>
