.level-image + .star-image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.level-container {
  width: 100px;
}

.level-star-container {
  margin-top: -15px;
}

.profile-container {
  width: 22em;
}
