.level-image + .star-image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.level-container {
  width: 100px;
}

.level-star-container {
  margin-top: -15px;
}

.profile-container {
  width: 22em;
}

.hero-list-item {
  width: 30em;
}

.hero-bar {
  height: 20px;
  background-color: #555;
}

.hero-playtime {
  width: 8.5em;
}

.hero-name {
  width: 8em;
}

.hero-bar-container {
  width: 270px;
}
